<div class="container bg-light m-4 rounded">
        <h4 class="text-secondary">Product Detail</h4><br>
        <form class="row g-3">
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">ID</label>
                <input type="text" class="form-control" placeholder="ID" id="validationCustom01" required>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Name" id="validationCustom02"
                       required>
            </div>
            <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Department</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" id="validationCustomUsername"
                           aria-describedby="inputGroupPrepend" placeholder="Department">
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">Salary</label>
                <input type="text" class="form-control" placeholder="Salary" id="validationCustom03"
                       required>    
            </div>
            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">Shift</label>
                <input type="text" placeholder="Shift" class="form-control" id="validationCustom03" required>

            </div>
            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">EmailID</label>
                <input type="email" class="form-control" placeholder="EmailID" id="validationCustom03" required>

            </div>
            <div class="col-md-4">
                <label for="validationCustom03" class="form-label">Contact No</label>
                <input type="tel" class="form-control" placeholder="Contact" id="validationCustom03" required>
            </div>
        <div>
            <a class="btn btn-primary btn-md w-25" type="submit">Submit &rarr;</a>
        </div>
      </form><br />
</div>